<div class="d-flex col-12 bg-success text-dark bg-opacity-25">
        <h2 id="usuario" class="text-success ms-3 mt-2">Bienvenido</h2>
        <button id="logout-boton" class="col-1 mb-3 mt-2 me-3 btn btn-warning ms-auto">Desloguear</button>
</div>

<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
        <li class="nav-item"><a href="http://localhost:8080/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="http://localhost:8080/api/productos/" class="nav-link">Productos</a></li>
        <li class="nav-item"><a id="cart-link" href="#" class="nav-link active" aria-current="page">Carrito</a></li>
        <li class="nav-item"><a href="http://localhost:8080/api/profile" class="nav-link">Profile</a></li>
        </ul>
    </header>
</div>

<h2>Productos en carrito</h2>
<div class="grid" id="cards">
    {{#each cart.productos}}
        <article id="{{this.id}}">
            <header>{{this.nombre}}</header> 
            <img src="{{this.foto}}" alt=""> <p>Precio: ${{this.precio}}</p>
            <button class="boton-eliminar" data-id={{this.id}}>Eliminar</button>
        </article>
    {{/each}}
</div>

<div>
    <form id="to-buy" class="d-flex flex-column ms-3 me-3" action="http://localhost:8080/api/compra" method="get">
        <button type="submit" id="buy-boton" class="d-grid col-4 mb-3 btn btn-warning">Finalizar compra</button>
    </form>
</div>
</div>

<script>
    //Si estoy logueado, lo renderizo, sino redirijo al login
    (function () {
        fetch(`http://localhost:8080/api`)
        .then(res => res.json())
        .then(data => {
            const span = document.createElement('span');
            span.innerText = ` ${data.email}`
            usuario.appendChild(span);

            const myURL = `http://localhost:8080/api/carrito/${data.cart}/productos`;
            document.getElementById('cart-link').href = myURL;
        })
        .catch(error => {
            console.log(error.message);
            location.href = 'http://localhost:8080/api/login'
        });
    })();

    const logout = document.getElementById('logout-boton');

    logout.addEventListener('click', () => {
        location.href = 'http://localhost:8080/api/sign-out'
    })

    const btnEliminar = document.getElementsByClassName('boton-eliminar');

    for (const btn of btnEliminar) {
        btn.addEventListener('click', deleteProduct);
    }

    async function deleteProduct(event) {
        let idProducto = event.target.getAttribute("data-id"); //obtengo el id del producto

        const response = await fetch(`http://localhost:8080/api`);
        const data = await response.json();

        fetch(`http://localhost:8080/api/carrito/${data.cart}/productos/${idProducto}`, {method: 'DELETE'})
            .then (response => {
                console.log(response);
                const element = document.getElementById(idProducto);
                element.remove();
            })
            .catch(error => console.log(error))
    }
</script>